{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contac-bg.jpg' %}{% endblock %}

{% block headers %}
 <h1>Contacto</h1>
  <span class="subheading">Asesoría Personal</span>
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>aqui os dejo mi instagram y mi twitter para que puedan contactarme</p>
          <br>
          <p><a href="https://www.instagram.com/moreiraaisaac/">Instagram</a></p>
          <p><a href="https://twitter.com/jeremyisaac2001">Twitter</a></p>
          <p><b>Honorarios:</b> Estudiante</p>
        </div>
      </div>
    </div>
{% endblock %}